.hline {
    height : 5px;
    background-color : #000000;
}
h1.title {
    font-family : Helvetica, Arial, Sans-serif;
    font-size : 72pt;
    letter-spacing : -5px;
    line-height : 90px;
}
span.inc1 {
    line-height : 30px;
}
body {
    font-family : Helvetica, Arial, Sans-serif;
}
#sidebar {
    width : 20%;
    float : left;
}
div.largenum {
    font-size : 108pt;
    
}
#main {
    float : left;
    font-size : 18px;
}
#main h1 {
    letter-spacing : -2px;
}
#main a {
    color : #000000;
}
#main li {
    font-size : 18pt;
    letter-spacing : -1px;
}
#main ul {
    list-style : none;
}
