body {
    font-family: Times, TimesNR, 'New Century Schoolbook',
                 Georgia, 'New York', serif;
    /* candidates: #1E4646, #006867 */
    /*
    background-color: #006867; 
    color: #FFFFFF;
    */
    background-color: #000000;
    color: #006867;
}
header > h1 {
    font-family: Times, TimesNR, 'New Century Schoolbook',
                 Georgia, 'New York', serif;
}
.sidebar {
    float: left;
    margin-left: 20%;
    margin-top: 100px;
    width: 20%;
}
.hline {
    height: 1px;
    /* background-color: #FFFFFF; */
    background-color: #006867;
}
.contact {
    padding-top: 20px;
}
.main {
    float: left;
    margin-top: 100px;
    margin-left: 30px;
    width: 35%;
}
a {
    transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    /*
    background-color: #006867; 
    color: #FFFFFF;
    
    background-color: #000000;*/
    color: #006867;
}
a:hover{
    /*
    background-color: #FFFFFF;
    color: #006867;
    */
    background-color: #0006867;
    color: #ffffff;
}
.back {
    text-align: right;
    font-size: 85%;
}
.blogpostBody {
    margin-top: 70px;
}
body {
    margin-bottom: 100px;
}
.rss {
    text-align: right;
}
