
body {
    font-family: serif;
    font-size: 90%;
}
 
.main {
    width: 50%;
    margin: auto;
}

a {
    color: #000000;
}
a:visited {
    color: #000000;
}
a:active {
    color: #000000;
}
a:hover {
    color: #000000;
}

#navbar {
    background-color: #000000;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 90%;
    font-weight: bold;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}
#navbar-links {
    color: #ff0000;
    position: float;
    float: right;
}
#navbar-links > a:visited {
    color: #ff0000;
}
#navbar-links > a:hover {
    color: #ff0000;
}
#navbar-links >a {
    color: #ff0000;
}

.blogpost {
    margin-top: 15px;
}
.blogpost-header {
    background-color: #000000;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 90%;
    font-weight: bold;
}
