body {
    background-color:#ffffff;
    color:#000000;
    font-family: "Helvetica","Trebuchet MS",sans-serif;
}
a {
    color: #000000;
}
code {
    font-family: "DejaVu Sans Mono", "Consolas", "Courier New", sans-serif;
}
.hline {
    height: 1px;
    background-color: #000000;
}